body {
  margin: 0;
}

div.drawer-paper-dark {
  background-color: #766779;
  color: #ffffff;
  width: 240px;
}

div.drawer-paper-light {
  width: 240px;
}

div.input-root {
  color: inherit;
}

input.input-input {
  padding: 8px 8px 8px 56px;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
}
